/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: url(../img/bg.jpg) no-repeat fixed;
}
/* navbar */
* {font-family: 'Arimo', sans-serif;}


.navbar-inverse .navbar-inner {
height: 67px;
}

.infoblack {
margin-left: 0px;
position: absolute;
bottom: 0;
height: 200px;
width: 100%;
}

.puja {
margin: 0 auto;
width: 960px;
margin-left: 15px;

}
.logo {
margin-top: -10px;
}

.barrapuja {
height: 97px;
width: 960px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin: 0 auto;
padding-left: 0px;
position: relative;
}

.pujabar {
	width:919px;
	margin-left: 9px;
	position: absolute;
	top: 25px;
	left: 0px;
	z-index: 0;
}

.pujabar .bar {
	background-image: none;
	background-color: black;
	width: 0px;
}

.pujahole {
	background: url(../img/subasta01.png) no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.pricecontainer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.preciopuja {
margin-top: 49px;
margin-left: 27px;
width: 80px;
text-align: center;
color: black;
}

.infopuja {
width: 930px;
height: 90px;
background: #CCC;
margin: 0px;
margin-top: -13px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}


.timeres {
height: 90px;
width: 160px;
background: #4C4C4C;
background: -moz-linear-gradient(top, #4C4C4C 0%, #131313 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C4C4C), color-stop(100%,#131313));
background: -webkit-linear-gradient(top, #4C4C4C 0%,#131313 100%);
background: -o-linear-gradient(top, #4C4C4C 0%,#131313 100%);
background: -ms-linear-gradient(top, #4C4C4C 0%,#131313 100%);
background: linear-gradient(to bottom, #4C4C4C 0%,#131313 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
text-align: center;
float: left;
}

.timeres h2 {
color: #828282;
font-family: ff-din-round-web-pro, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 1em;
text-transform: uppercase;
margin: 0px;
padding: 20px;
}

.timeres h4 {
margin: 0px;
font-size: 14px;
line-height: 10px;
margin-top: -19px;
text-align: center;
font-weight: lighter;
color: #7C7B7B;
text-shadow: 0px -1px 0px black;
}

.priceact {
width: 232px;
float: left;
border-right: 1px solid #F7F2F2;
height: 90px;
}

.priceact h2 {
font-size: 40px;
text-align: center;
margin-top: 20px;
color: #B8B4B4;
text-shadow: 1px 1px white, -1px -1px #A89393;
}

.priceact h4 {
margin: -10px 0px 0px 20px;
line-height: 14px;
font-size: 14px;
color: #6A6A6A;
font-weight: lighter;
text-shadow: 0px -1px 0px #E9E9E9;
}

.ourprice {
width: 350px;
height: 60px;
float: left;
background-color: white;
margin: 15px 0px 0px 20px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background: #EDEDED;
margin-bottom: 15px;
}

.ourprice h2 {
font-size: 32px;
text-shadow: 1px 1px white, -1px 0px #A89394;
text-align: center;
margin-top: 17px;
line-height: 30px;

}

.ourprice h4 {
	margin: -10px 0px 0px 20px;
line-height: 14px;
font-size: 14px;
color: #6A6A6A;
font-weight: lighter;
text-shadow: 0px -1px 0px #E9E9E9;

}

.arrowbid {
float: left;
width: 20px;
height: 90px;
}

.ctasub {
float: left;
height: 50px;
width: 115px;
}

.ctasub .btn {
height: 36px;
width: 115px;
margin-top: 12px;
}

.pricepuja {
	height: 58px;
margin-top: -8px;
width: 200px;
float: left;
display: block;
}

.btnbuynow {
	float: left;
width: 167px;
height: 90px;
}

.btnbuynow .btn {
margin-top: 22px;
height: 43px;
margin-left: 10px;
width: 144px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.footer {
background: black;
margin-top: 60px;
min-height: 300px;
border-top: 1px solid #837E7E;
}
.btninfo {
	width: 153px;
	float: left;
	color: white;

}
.btndes {
	width: 153px;
	float: left;
	color: white;

}
.btnartis {
	width: 153px;
	float: left;
	color: white;
}

.titledes {
margin-top: 66px;
margin-bottom: 30px;
}

.linehr {
border: 1px solid #605D58;
width: 930px;
margin-left: -210px;
}

.titledes h2 {
line-height: 34px;
color: white;
font-size: 32px;
} 
.titledes p {
color: #777272;
margin-top: -13px;
font-weight: lighter;
}

.titledes p span {
	color: #fff;
}

.desobra {
	margin: 10px;
}
.desobra p {
	color: #fff;
}